<div class="modal-body">
  <div id="order-items">
    <p>HI MANSI</p>
    <% order_items.each do |o|%>
    <%= image_tag o.product.images.first ,width: "150px" ,height: "180px"%><br>
    <%= o.product.Name %><br>
    <%= o.product.price %> ₹<br>
    <%= o.product.size %> size
      <%= form_for @order_item do |f| %>
        <%= f.label :quantity %>
        <%= f.select :quantity, ( 1)..(+ 100) %>
      <% end %>
    <%end%>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <%= link_to "Proceed To Buy", class: "btn btn-primary"%>
</div>