<div class="container text-center">
  <div class="row-1">
    <% if @product.images.attached? %>
      <% @product.images.each do |image| %>
          <%= image_tag image, width: "250px", height: "300px"%>
      <% end %>
    <%end%>
        <div class="row-2">
          Name :<%= @product.Name %><br />
          Brand :<%= @product.brand %><br />
          Price :<%= @product.price %><br />
          Size :<%=@product.size%><br />
          Details :<%=@product.details%><br />
          Category :<%=@product.category%><br />
        </div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <%= link_to "Add to Cart", product_path(product_id: @product.id), class:"btn btn-dark"%>
          <%= link_to "Buy Now", product_path(_id: @product.id),class: "btn btn-dark"%> 
        </div>
      </div>
  </div>
</div>

