<%= form_for @product do |f| %>

    <div>
    <%=f.label :name %>
    <%= f.text_field :Name %><br/>
    </div>

    <div>
      <%= f.label :brand %>
      <%= f.select :brand, [['Allen Solly','Allen solly'],['Levis','Levis'],['Louis Vuitton','Louis Vuitton'],['Dolce & Gabbana','Dolce & Gabbana']] %><br />
    </div>

    <div>
      <%= f.label :group %>
      <%= f.select :group_id, options_from_collection_for_select(Group.all, "id", "name") %>
    </div>


    <div>
    <%=f.label :price %>
    
    <%= f.text_field :price %><br />
    </div>
    
    <div>
      <%= f.label :size %>
      <%= f.select :size, [['xs','xs'],['s','s'],['m','m'],['l','l'],['xl','xl'],['xxl','xxl'],['xxxl','xxxl']] %><br />
    </div>
    
    <div>
    <%=f.label :details %>
    <%= f.text_field :details %><br />
    </div>

    <div>
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div>
      <%= f.label :Category %>
      <%= f.select :category, [['Mens','Mens'],['Womens','Womens'],['Children','Children']] %><br />
    </div>

    <%= f.submit %>
  <% end %>

  
<%= link_to raw("<i class=\"icon-search icon-white\">Back</i>"),root_path, class: "btn btn-outline-dark"%>