<div>
<div class="d-grid gap-2 d-md-block">
  <%= select_tag :size , options_for_select(%w[xs s m l xl xxl xxl], params[:size]), :onchange => "window.location.replace('/'+'size'+'/'+this.value);", prompt: "Select  size", class: "btn btn-dark dropdown-toggle", remote: true%>
</div>
</div>


<!-- ALL Group for the display nav bar -->
<%# Group.all.each do |g| %>
<%#= link_to g.name, products_path(group_id: g.id) %>
<%# end %>

<!-- the nav bar -->

<%# Group.where(display: true).each do |g|%>
<%#= link_to g.name, products_path(group: g.name) %>
<%# end %>

<div class="container text-left">
  <div class="row" style="width:100%">
    <% @products.each do |product| %>
    <div class="col-4">
   
      <%= link_to (product) do %>
        <div class="card" style="width: 16rem;, height: 150px;">
        <% if product.images.attached? %>
          <%= image_tag product.images.first, width: "250px" ,height: "280px"%>
        <% end %>
      </div>
      <%end%>
        <div class="card-body">
          <h6><%= product.brand %></h6>
          <%= product.Name %>
          <h5>PRICE :<%= product.price %> ₹</h5>
        </div>
        
        </div>
       <%end%>
  </div>
</div>
<br><br>
<% if current_user && current_user.admin%>
  <%= link_to raw("<i class=\"icon-search icon-white\">Create New Product</i>"), 
           new_product_path, class: "btn btn-outline-dark"%>
  <%= link_to "new group ", new_group_path ,class: "btn btn-outline-dark"%>
<%end%>