<div class="container text-center">
    <% if @product.images.attached? %>
    <% @product.images.each do |image| %>
    <%= image_tag image, width: "200px", height: "220px"%>
    <% end %>
    <%end%>
    <div class="row-2">
      Name :<%= @product.Name %><br />
      Brand :<%= @product.brand %><br />
      Price :<%= @product.price %><br />
      Size :<%=@product.size%><br />
      Details :<%=@product.details%><br />
      Category :<%=@product.category%><br />
    </div>
    
<div>
  <% if current_user && current_user.admin%>
    <%= link_to raw("<i class=\"icon-search icon-white\">Edit</i>"), 
      edit_product_path(@product), class: "btn btn-outline-dark"%>
    <%= link_to raw("<i class=\"icon-search icon-white\">Destroy</i>"), 
      products_path(@product), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-dark"%>
    <%= link_to raw("<i class=\"icon-search icon-white\">Back</i>"), 
      products_path(@product), class: "btn btn-outline-dark"%>
  <% else %>
    <%= link_to raw("<i class=\"icon-search icon-white\">Add to Cart</i>"),cart_item_path(product_id: @product),class: "btn btn-outline-dark"%>
    
  <% end %>
</div>
  <!-- <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <%#= link_to "Add to Cart", product_path(product_id: @product.id), class:"btn btn-dark"%> 
    </div> -->
</div>